include:
  - remote: "https://gitlab.com/winterberry/gitlab-ci-helpers/-/raw/main/helpers.yml"

# by pushing a binary tag, we start another pipeline that builds the corresponding images
accept-binary:
  image: buildpack-deps:stable-scm
  variables:
    SSHKEY: "$GITLAB_REPO_SSHKEY"
  script:
    - !reference [.install-ssh-key, script]
    - !reference [.setup-git-user, script]
    - git clone $CI_REPOSITORY_SSH_URL /tmp/git-repo
    - cd /tmp/git-repo
    # tag this particular commit
    - export BINARY_STEM=<%= $CRATE_VERSION %>"-bin"
    - export VERSION_DUPLICATES=$(git tag | grep -c "$BINARY_STEM") # check if we already pushed a build for this version
    - "[ $VERSION_DUPLICATES -eq 0 ] && export BINARY_TAG=$BINARY_STEM || export BINARY_TAG=$BINARY_STEM-$VERSION_DUPLICATES" # add build number, if necessary
    - git tag $BINARY_TAG
    - git push origin $BINARY_TAG