include:
  - remote: "https://gitlab.com/winterberry/gitlab-ci-helpers/-/raw/main/helpers.yml"

accept-library:
  image: buildpack-deps:stable-scm
  variables:
    SSHKEY: "$GITLAB_REPO_SSHKEY" # argument for .install-ssh-key script
  script:
    - !reference [.install-ssh-key, script]
    - !reference [.setup-git-user, script]
    # add commit to staging branch
    # the staging branch contains a set of semver-intercompatible versions
    - export GIT_TARGET_BRANCH=$(echo <%= $CRATE_VERSION %> | grep -o "[0-9]\+\.[0-9]\+")
    - export GIT_SOURCE_BRANCH=main
    - !reference [.merge-branch, script]
    # tag this particular commit
    - git tag <%= $CRATE_VERSION %>
    - git push origin <%= $CRATE_VERSION %>